body {
  margin: 0;
  background-color: #f2ef53;
  min-width: 320px;
  min-height: 100vh;
  color: rgb(0, 0, 0);

}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  flex-wrap: wrap;
}

.App h1{
align-self: flex-end;
}
